{{> navbar this}}

<div class='userprofile-body'>
	<div class='left-user-column'>
		<div class='user-image'> 
			{{user.profileimg}}
		</div>
	</div>
	<div class='right-user-column'>
		<div class='title-name'>
			{{user.first}} {{user.last}}
		</div>
		<div class = 'user-biography'>
			{{user.biography}}
		</div>
		<div class = 'follow-line'> 
			<div class = 'one-follow'> 
				<div class = 'follow-number'> {{following.length}} </div>
				<div class = 'follow-word'> Following </div>
			</div>
		</div>
	</div>
</div>